<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">主页</a></li>
				<li><a href="/about">关于</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/blog">博客</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shaipxiang@163.com">email:shaipxiang@163.com</a></li>
	        		<li><a href="https://github.com/shaipxiang">github.com/shaipxiang</a></li>
				<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=514179075&site=qq&menu=yes" ><img src="http://wpa.qq.com/pa?p=2:514179075:45" alt="qq交流" align="absmiddle" /> QQ交流</a></li>
				</ul>
			</footer>
		</body>
	</html>
